body {
    overflow-x: hidden;
}
h1 {
    background-color: #333;
    color: #fff;
    display: inline-block;
    font-size: 5em;
    margin: 0px 0px 20px 0px    ;
    opacity: 0.9;
    padding: 15px;
    text-transform: uppercase;
}

section {
    padding: 30px 50px;
}

.navbar-inner {
    background: #fff;
    padding: 0 30px!important;
}

#start {
    height: 600px;
    width: 100%;
    top: 120px;
}

#start aside {
    background-color: #333;
    color: #fff;
    font-size: medium;
    line-height: 1.5em;
    margin: 0px!important;
    padding: 15px;
    opacity: 0.9;
}

.navbar .container-fluid {
    height: 100px;
}

.navbar .nav li {
    border-left: solid 1px #ddd;
}
.navbar .nav li a{
    font-size: 1.5em;
    margin-top: 50px;
    padding: 0 40px 40px 40px;
}
